
body{
    background-color: #333533;
    color: white;  
    font-size: 1.8em;
    margin: 1em;
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #F5CB5C;
    height: 7em;
    width: 100%;
    text-align: center;
    
    
}
h1{
    text-align: center;
    width: 100%;
    min-height: 225px;
    background-image: url("../media/background.png");
    background-repeat: repeat-x;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}
h2{
    background-color: #F5CB5C;
    color: #242423;
    font-weight: bold;
    width: 100%;
}


nav{
    color: #333533;
    font-size: 1.2em;
}

#setup{
    padding: 2em;
}

#setup img{
    display: block;
    max-width: 600px;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


#setup figcaption{
    text-align: center;
    padding: 1em;
}

.card{
    background-color: #242423;
    text-align: center;
    border-radius: 0.3cm;
    margin: 5%;
    padding: 1%;
    border-width: 0.01em;
    border-color: #F5CB5C;
}
.card a:link{
    color: darkgoldenrod;
}

.card a:visited{
    color: #F5CB5C;
}

#vid a:link{
    color: darkgoldenrod;
}
#vid a:visited{
    color: #F5CB5C;
}
.leiras{

    margin-top: 0.5cm;
}
video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
}

table{
    border: solid;
    border-color: #d6e5e3;
    border-width: 0.2em;
    width: 90% ;
    text-align: center;
    margin: auto;
    margin-bottom: 2em;
}
th{
    border: #d6e5e3 0.2em solid;
    padding: 1%;
}
td{
    border-left: #d6e5e3 0.1em solid;
    padding: 1%;
}
#tablazatok caption{
    color: #d6e5e3;
    font-size: larger;
    text-align: center;
}

aside{
    margin-bottom: 2em;
}
.btn{
    margin: 0.5em;
    font-size: 1.5em;
}
footer{
    background-color: #F5CB5C;
    color: #333533;
    padding: 0.5em;
    margin: 0.5em;
}


.rejtett {
    position:absolute; left:-9999px;
}
nav#tartalomraugras a {position:absolute; left:-9999px}
nav#tartalomraugras a:focus {position:static; background-color:white}


.leirasnav a {position:absolute; left:-9999px}
.leirasnav a:focus {position:static; background-color:white}

img{
    display: block;
    max-width: 500px;
    width:100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em;
}


figcaption{
    text-align: center;
    padding: 1em;
}


a:link{
    color: blue;
}
a:visited{
    color: darkviolet;
}

.leirasnav{
    width: 100%;
    background-color: #F5CB5C;
}
.leirasfooter{
    width: 100%;
    background-color: #F5CB5C;
}
.styleswitch{
    font-size: 3em;
    background-color: transparent;
    border: none;
    color: #d6e5e3;
    
    margin: 0.3em;

}