@page {
    size: A4;
}


html {

    background:white;
    }
body  {
    width:90%;
    font-family:'Times New Roman', Times, serif; 
    background:white;
    min-width:initial;
    max-width:initial;
    box-shadow:initial;
    color: #242423;
}

nav {display:none}

a:after { content: " (" attr(href) ")";}
figure{
    width: 60%;
    page-break-before: always;
}
.card {page-break-before: always; width: 50%;}
table {page-break-before: auto;}

video{display: none;}